body {
    background-color: #FDCEDF;
    font-family: 'Montserrat', sans-serif;
    height: 1000px;
    max-width: 100%;
    }
.header {
   color: #F0A8D0;
    text-align: center;
    padding: 5px;
    background-color: #ffffff;
}
.nav-list {
    list-style: none; 
    display: flex;   
    background-color: #F0A8D0; 
    padding: 0;
    margin: 0;
    justify-content: center; 
    border-bottom: 20px solid #FDCEDF
}
.nav-list li {
    display: block;
    color: white;   
    text-decoration: none; 
    padding: 30px 100px; 
    transition: 0.3s;   

}
.nav-list li:hover {
    background-color: #FDCEDF; 
    border-bottom: 4px solid #ffffff; 
    color:#F0A8D0;
}
container {
    display: flex;           
    gap: 0px;               
    padding: 0px; 
    justify-content: center;
}
.box1 {
    flex: 3;
    margin: 5px;
    padding: 10px;
    background-color: #ffffff;
    position: relative;
    width: 70%;
}
.box2 {
    flex: 1;
    margin: 5px;
    padding: 10px;
    background-color: #ffffff;
    position: relative;
}
img {
    background-color: #f8bbd0; 
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0000005d;
    font-size: 18px;
    border-radius: 2px;
}